* {
  box-sizing: border-box;
  color: #00171F;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #00171F;
  padding: 15px;
}

h1 {
  color: #00A8E8;
  text-align: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

button {
  background-color: #00A8E8;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
}

.garage-btn-section {
  margin-top: -25px;
  margin-bottom: 50px;
}

.garage-section {
  border: 5px solid #003459;
  height: 350px;
  overflow: scroll;
  position: relative;
  width: 800px;
}

#garage-img {
  position: absolute;
  height: 350px;
  width: 800px;
  z-index: 1;
}

#count-title {
  margin-top: 20px;
}

#cleanliness-title {
  font-size: 14px;
}

#items-holder {
  margin: 10px;
  overflow: scroll;
  padding: 0 7.5px;
}

.item {
  align-items: center;
  background-color: aliceblue;
  border: 1px solid #007EA7;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  width: 400px;
}

.details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.change-cleanliness {
  font-size: 14px;
}

.sort-btn {
  align-items: center;
  background-color: #007EA7;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 85px;
  z-index: 0;
}

#asc-btn {
  left: 20px;
}

#desc-btn {
  right: 20px;
}

.arrow-img {
  height: 14px;
}

.add-item-title {
  align-self: center;
  font-size: 20px;
  margin: 7.5px;
}

form {
  border: 5px solid #003459;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 350px;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: 14px;
  text-align: right;
}

#name-input,
#reason-input,
#cleanliness-select,
#submit-btn {
  font-size: 14px;
  margin: 5px 0;
}

#submit-btn {
  background-color: #003459;
  margin: 5px auto;
  margin-top: 10px;
  width: 100px;
}

#name-input,
#reason-input,
#cleanliness-select {
  padding: 2.5px;
  width: 215px;
}


#garage-btn {
  font-size: 18px;
  margin: 5px 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  #garage-img,
  .garage-section {
    width: 600px;
  }

  .item {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  #garage-img,
  .garage-section {
    width: 100%;
  }
  .sort-btn {
    bottom: 7.5px;
    width: auto;
  }

  #asc-btn {
    left: 10px;
  }

  #desc-btn {
    right: 10px;
  }

  #items-holder {
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 350px) {
  form {
    width: 100%;
  }
}